

<div class="container">
    <h3>Problem Languages</h3>

    <form>
        <div class="mb-3">
            <label for="ProblemName" class="form-label">Problem Name</label>
            <input type="text" class="form-control" id="ProblemName" value="Sample Question" name="ProblemName">
        </div>

        <div class="mb-3">
            <div class="form-control d-flex" id="ProblemLanguages" name="ProblemLanguages">
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" value="langcpp" id="langcpp" name="langcpp">
                    <label class="form-check-label" for="langcpp">C++</label>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" value="langpython" id="langpython" name="langpython">
                    <label class="form-check-label" for="langcpp">Python</label>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" value="langjava" id="langjava" name="langjava">
                    <label class="form-check-label" for="langcpp">Java</label>
                </div>
            </div>
        </div>

    </form>


</div>